@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar{
  display:flex;
  justify-content: space-around;
  align-items: center;  
  padding: 30px;
  padding-top: 50px;
  max-width: 700px;;
  border-bottom: 1px solid #f2f2f2;
  margin: auto;

}
.links {
  display:flex;
  padding: 5px;
  justify-content: space-between;
  width: 150px;
}
.navbar h1{
  color:coral;
}
.navbar a:hover {
  color: #f1356d;
}

.Home{
  padding-left: 100px;
  
}

.blog-prev {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-prev:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-prev h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}